{% extends "base.html" %}

{% block title %}chlorine{% endblock %}

{% block body %}
<div>
    <h2>Recent scrobbles</h2>

    <table>
        <tbody>
            {% for scrobble in recent_scrobbles %}
                <tr>
                    <td><time datetime="{{ scrobble.utc_timestamp }}">{{ scrobble.utc_timestamp|relative_timestamp }}</time></td>
                    <td>{{ scrobble.track_artist_names }}</td>
                    <td>{{ scrobble.track_title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Top artists</h2>

    <table>
        <tbody>
            {% for artist in top_artists %}
                <tr>
                    <td><a href="/artist/{{ artist.id }}">{{ artist.name }}</a></td>
                    <td>{{ artist.scrobble_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Top tracks</h2>

    <table>
        <tbody>
            {% for track in top_tracks %}
                <tr>
                    <td><a href="/track/{{ track.slug }}">{{ track.artist_names }} - {{ track.title }}</a></td>
                    <td>{{ track.scrobble_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}